@model PropertyManagementPortal.ViewModels.Tenant.MaintenanceRequestViewModel

@{
    ViewData["Title"] = "Maintenance Request";
}

<h4 class="fw-bold mb-3">Submit Maintenance Request</h4>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="card">
    <div class="card-body">

        <form method="post">

            <div class="mb-3">
                <label class="form-label">Unit</label>
                <select asp-for="UnitId"
                        asp-items="Model.Units"
                        class="form-select">
                    <option value="">-- Select Unit --</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <select asp-for="Category" class="form-control">
                    <option>Electrical</option>
                    <option>Plumbing</option>
                    <option>Cleaning</option>
                    <option>Furniture</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <button class="btn btn-primary">
                Submit Request
            </button>

        </form>

    </div>
</div>