@model PropertyManagementPortal.ViewModels.Shared.NotificationsViewModel

@{
    ViewData["Title"] = "Notifications";
}


<div class="container-fluid">

    @await Html.PartialAsync(
        "_NotificationList",
        Model
    )

</div>